<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDO2hZsiCq0g9bB7VorYOKWx53ffzwrv6o</string>
	<key>GCM_SENDER_ID</key>
	<string>846018283214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quicknotes</string>
	<key>PROJECT_ID</key>
	<string>quick-notes-484b8</string>
	<key>STORAGE_BUCKET</key>
	<string>quick-notes-484b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846018283214:ios:43335bd7e55c244bd3f29f</string>
</dict>
</plist>